*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #d4c8c8;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	
}
a{
	color: #000;
}

.menu{
	margin-top: 40px;
}
.header2{
	display: flex;
}
.logo{
	width:100%;
	margin-left: 45px;
	margin-top: 16px;
}
ul{
	list-style-type: none;
	display: flex;
	justify-content: end;
/* 	background-color: #e2cdcd; */
	
}

li{
	width: 150px;
	line-height: 60px;
	text-align: center;
	height: 70px;
	/*! border: solid 1px black; */
	text-decoration: none;
	color: #ffffff !important;
}
.box{
    border: 1px solid #000;
    width: 50%;
    margin-left: 390px;
    text-align: center;
    background-color: #e8dbdb;
    border-radius: 5px;
    margin-top: 100px;
}
h1{
    font-size: 2.4em;
    padding: 30px 0;
}
h2{
    padding: 10px 0;
}
.menu2{
    border-bottom: #ccc;
}
.footer{
	margin: 2em auto 0;
 	padding: 1em;
 	background-color: #fff; 
     border: 1px solid #ccc;
     text-align: center;
}